<meta charset="UTF-8">
<title>demo</title>
<meta name="keywords" content=""/>
<meta name="description"
      content="demopage"/>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
<link rel="bookmark" href="/assets/favicon.ico" type="image/x-icon">

<script src="/assets/js/useragent.js"></script>

<link rel="stylesheet" type="text/css" href="/assets/css/base.css"/>
<link rel="stylesheet" type="text/css" href="/assets/css/main.css"/>
<script src="/assets/lib/jquery-3.1.1.min.js"></script>
